@keyframes getHit {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}
.user {
    width: 50px;
    height: 50px;
    position: absolute;
    transition: border-radius 0.1s ease-in;
    .health {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        height: 4px;
        background-color: rgba(0, 0, 0, 0.5);
        & > div {
            height: 100%;
        }
    }
    .nickname {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        white-space: nowrap;
        color: white;
    }
    &.attack {
        border-radius: 50%;
    }
    &.getHit {
        animation-duration: 0.2s;
        animation-name: getHit;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
    }
}
