@keyframes getHit {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}
.nicknameForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: red;
    width: 300px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    h3 {
        color: var(--theme-font-color);
        font-size: 22px;
    }
    input {
        margin-top: 20px;
        height: 30px;
        background-color: transparent;
        border: none;
        // border-bottom: 2px solid var(--theme-font-color);
        color: var(--theme-font-color);
        font-size: 24px;
        outline: none;
    }
    button {
        margin-top: 10px;
        height: 32px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
    }
}
.character {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 2px solid black;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    &.attack {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }
    &.getHit {
        animation-duration: 0.2s;
        animation-name: getHit;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
    }
    &.death {
        opacity: 0.3;
    }
}
.nickname {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    color: white;
}
