@keyframes getHit {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}
.nicknameForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: red;
    width: 300px;
    height: 200px;
    z-index: 2;
    background-color: white;
}
.character {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: border-radius 0.1s ease-in;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 2px solid red;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    &.attack {
        border-radius: 50%;
    }
    &.getHit {
        animation-duration: 0.2s;
        animation-name: getHit;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
    }
    &.death {
        opacity: 0.3;
    }
}
.nickname {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    color: white;
}
