.nicknameForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: red;
    width: 300px;
    height: 200px;
    z-index: 2;
    background-color: white;
}
.character {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.nickname {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    color: white;
}
