.attackBtn {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: white;
    background-image: url("https://media.istockphoto.com/id/1242089262/vector/hand-fist-punching-or-hitting-comic-pop-art.jpg?s=612x612&w=0&k=20&c=W6kfsaRHikFdmy2T9xVoybBBuo6LNVs9IsBMw830gLU=");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center 0;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    span {
        background-color: white;
    }
    .coolTimeShadow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
