.attackBtn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    background-image: url("https://media.istockphoto.com/id/1242089262/vector/hand-fist-punching-or-hitting-comic-pop-art.jpg?s=612x612&w=0&k=20&c=W6kfsaRHikFdmy2T9xVoybBBuo6LNVs9IsBMw830gLU=");
    background-size: 90px 90px;
    background-repeat: no-repeat;
    background-position: center 0;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    span {
        display: block;
        padding: 3px 5px;
        background-color: rgb(206, 157, 157);
        font-weight: bold;
        border-radius: 5px;
        color: var(--theme-font-color);
        transform: translateY(-20%);
    }
    .coolTimeShadow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
