* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --theme-font-color: rgb(54, 34, 34);
}
body {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
